<%- include('./partials/header')-%>

<%- include('./partials/_add_btn.ejs')-%>

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Classement</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Age</th>
                        <th scope="col">Nationnalité</th>
                        <th scope="col">Fortune</th>
                        <th scope="col">Entreprise</th>
                        <th scope="col">Secteur</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% people.forEach(function(people) {%>
                    <tr>
                        <th scope="row"><%=people.id%></th>
                        <td><%=people.classement%></td>
                        <td><a href="/show/<%=people.id%>"><%=people.lastname%></a></td>
                        <td><a href="/show/<%=people.id%>"><%=people.firstname%></a></td>
                        <td><%=people.age%> ans</td>
                        <td><%=people.nationnality%></td>
                        <td><%=people.wealth%></td>
                        <td><%=people.factory%></td>
                        <td><%=people.business%></td>
                        <td><%=people.status%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>

        </div>
    </div>
</div>

<%- include('./partials/footer')-%>